@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 400px;
  margin: 0 auto;
  h2 {
    font-size: 20px;
    text-align: center;
  }
  ul {
    list-style: none;
    li {
      border: 1px solid lightgray;
      border-radius: 8px;
      margin-top: 8px;
      padding: 8px;
      button {
        padding: 0 4px;
        margin-right: 16px;
        cursor: pointer;
        width: 24px;
        height: 24px;
      }
    }
  }
  p {
    margin-top: 8px;
    text-align: right;
  }
}
